.container {
  display: flex;
  gap: 20px;
  width: 700px;
  padding: 5px;
  overflow-x: auto;
  height: 170px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.container::-webkit-scrollbar {
  position: absolute;
  bottom: -30px;
  width: 6px;
  height: 7px;
  background-color: rgb(218, 218, 218);
}

.container::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: gray;
}
